.conformation-prop {
  padding: 10%;
}
.message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.action {
  text-align: end;
}
.yes {
  background-color: #b71c1c;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 10px;
}
.yes:hover {
  background-color: #f44336;
}

.no {
  background-color: #00bfa5;
  padding: 6px 12px;
  border-radius: 4px;
}
.no:hover {
  background-color: #76FF03;
}
